[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/c"]
	path = bundle/c
	url = https://github.com/vim-scripts/c.vim
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer
[submodule "bundle/VimWiki"]
	path = bundle/VimWiki
	url = https://github.com/vim-scripts/vimwiki
[submodule "php.vim"]
	path = php.vim
	url = https://github.com/vim-scripts/php.vim
[submodule "bundle/vim-lsp"]
	path = bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "bundle/asyncomplete.vim"]
	path = bundle/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "bundle/asyncomplete-lsp.vim"]
	path = bundle/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "bundle/vim-lsp-settings"]
	path = bundle/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
