[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/c"]
	path = bundle/c
	url = git://github.com/vim-scripts/c.vim.git
[submodule "bundle/a"]
	path = bundle/a
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/FencView"]
	path = bundle/FencView
	url = git://github.com/vim-scripts/FencView.vim.git
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = git://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/fcitx"]
	path = bundle/fcitx
	url = git://github.com/vim-scripts/fcitx.vim.git
[submodule "bundle/omlet"]
	path = bundle/omlet
	url = git://github.com/vim-scripts/omlet.vim.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = git://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/CmdlineComplete"]
	path = bundle/CmdlineComplete
	url = git://github.com/vim-scripts/CmdlineComplete.git
[submodule "bundle/SearchComplete"]
	path = bundle/SearchComplete
	url = git://github.com/vim-scripts/SearchComplete.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = git://github.com/thisivan/vim-bufexplorer.git
[submodule "bundle/Trinity"]
	path = bundle/Trinity
	url = git://github.com/wesleyche/Trinity.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/octopress"]
	path = bundle/octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/VimWiki"]
	path = bundle/VimWiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "bundle/phpvim"]
	path = bundle/phpvim
	url = https://github.com/vim-scripts/phpvim.git
[submodule "bundle/vim-jsbeautify"]
	path = bundle/vim-jsbeautify
	url = https://github.com/vim-scripts/vim-jsbeautify.git
